@import "../../styles/import.scss";

.container {
  display: flex;
  flex-direction: column;
  border: 3px dashed #ccc;
  padding: $padding12;
  width: 80%;
  margin: 20px auto;
  .headerCard {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .bodyContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h3 {
      padding: 10px;
    }
    .containerOrder {
      display: flex;
      gap: 5px;
      margin-left: 10px;
    }
  }
  .containerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding10;
  }
}
